<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>success</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/1be8dd0987.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container text-center mt-5">
      <i
        class="fas fa-check-circle"
        style="font-size: 15rem; color: #28a745;"
      ></i>
      <h1 class="h3">Profesional contratado con éxito</h1>
      <p>
        Consulta contratada con éxito ahora dirigete a tu perfil donde te
        indicaremos para que inicie la consulta
      </p>
      <a
        class="btn btn-primary"
        href="https://vetec.es/profile-client"
        role="button"
        >Iniciar consulta</a
      >
    </div>
  </body>
</html>
